.wy-menu-vertical .caption-text {
    color:white;
}

.admonition-arches-hip-users {
    background-color: #FFD7D7 !important;
}

.admonition-arches-hip-users .highlight {
    background-color: #FCFCFC !important;
}

.admonition-arches-hip-users .admonition-title {
    background-color: #C4161C !important;
}

.seealso {
  background: #deffb5 !important;
}

.seealso .admonition-title {
  background: #74a833 !important;
}
